DATABASE_URL = postgresql+psycopg://primroses1:password@postgres:5432/primroses1
POSTGRES_DB = primroses1
POSTGRES_USER = primroses1
POSTGRES_PASSWORD = password
QDRANT_URL=http://qdrant:6333
QDRANT_API_KEY=qdrant_api_key #optional for local development
FRONTEND_URL= #optional. if left blank, resorts to local host 5173